body{
	background-color: rgb(255,255,255);
}


/*------------------HEADER------------------*/
#header{
	min-width: 1160px;	
}
#header-rightOptions.space{
	margin-right:10.5%;
}
#logo.space{
	margin-left:10.5%;

}

/*------------------CONTENT -----------------*/
/*--Structure--*/
/*Style Creation*/
#tryonContent{
	position: relative;
	height:86%;
	width:100%;
	margin:20px auto;
	min-width: 1145px;	

}

/*Collage Creation*/
#tryonContent.tryon-collage{
	min-height:400px;
}
#tryonContent.tryon-collage > #tryonContent-left{
	width:60.3%;
	background-color:white;
}
#tryonContent.tryon-collage > #tryonContent-right{
	width:37%;
}


/*--left side--*/

#tryonContent-left{
	position: relative;
	float:left;
	height:100%;
	min-height: 400px;
	min-width:360px;
	width:48.5%;
	margin-left:0.9%;	
	background-color:rgb(0,0,0);
	border:1px solid rgb(150,150,150);
	overflow: hidden;
}




.tryonContent-header_left{
	width:100px;
	height:110px;
	position: absolute;
	top:20px;
	left:20px;
	z-index:110;
}


.tryonContent-header_left > ul > li{
	text-align: left;
	padding:11px 12px 4px;
	cursor: pointer;
	color:rgb(255,255,255);

}

.tryonContent-header_right{
	height:30px;
	position: absolute;
	top:20px;
	right:20px;
	z-index:110;
}

.tryonContent-header_right > ul > li{
	padding:5px 10px;
	margin-left:5px;
	float:left;
	cursor: pointer;
	color:rgb(255,255,255);

}

.hide{
	display:none;
}

/*--Element--*/
/*model and background images*/
.background{
	z-index:80;
	height:100%;
	position: absolute;
	right:-9999px;
	left:-9999px;
	margin:0 auto;
}

.virtualModel{
	z-index:100;
	height:90%;
	position: absolute;
	top:8%;

}

.openLayer{
	width:26%;
	max-width:160px;
	height:85%;
	z-index:111;
	position: absolute;
	top:10%;
	right:48px;
	cursor: pointer;
}

/*heart icons*/

.userPreference div span{
    margin-top:6px
}





.userPreference{
	width:160px;
	height:50px;
	position: absolute;
	bottom:50px;
	right:-50px;
	z-index:110;
}


.userPreference > div{
	background-color:rgb(34,34,34);
	width:50px;
	height:50px;
	border-radius:30px;
	float:left;
	margin-left:0.5em;
	position: relative;	
	display:block;
	border:none;
	box-shadow: none;

}





/*category hidden box*/

.hiddenBox{
	width:230px;
	position: absolute;
	top:30px;
	right:-13px;
	display:none;	
}


.button_category > .hiddenBox{
	width:109px;
	top:30px;
	right:110px;
}

.button_category > .hiddenBox > ul > li{
	color:rgb(255,255,255);
	padding:13px;
	display:block;
	cursor: pointer;
}



.hiddenBox-submenu{
	position: absolute;
	top:0;
	right:-128px;
	height:300px;
	width:140px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

}

.hiddenBox-submenu > ul{
	width:125px;
	height:96%;
	background-color: rgb(100,100,100);
	position: absolute;
	top:7px;
	right:7px;
	overflow-y:auto;

}

.hiddenBox-submenu > ul > li{
	padding:6px 0px 6px 6px;
	color:rgb(255,255,255);
	cursor: pointer;
}


.styleOutfit,
.occassionOutfit,
.seasonOutfit,
.weahterOutfit{
	display:none;
}

/*layer hidden box*/
.button_layer > .hiddenBox > ul{
	overflow-y:auto;
	overflow-x:hidden;
	height:42em;
	background-color: rgb(34,34,34);
}


.layers{
	width:100%;
	height:120px;
	position: relative;
	opacity:0.9;
	border-bottom:1px solid rgb(200,200,200);
	border-top:1px solid rgb(200,200,200);

}



.layers div{
	height:100%;
	position: absolute;
}

.holdIconBox{
	width:30px;
	top:0;
	left:0;
}

.holdIcon{
	position: absolute;
	top:55px;
	right:2px;
	left:2px;
	cursor: pointer;
}

.imageIconBox{
	width:110px;
	top:0;
	left:30px;
}

.imageIconBox > a > img{
	width:75%;
	right:0;
	left:0;
	margin:15px auto;
	position: absolute;
	z-index:990;
}

.imageIconBox > div{
	background-color: white;
	width:90%;
	height:80%;
	position: absolute;
	border-radius: 100px;
	left:0;
	right:0;
	margin:12px auto;
	z-index:100;	
}


.itemDescriptionBox{
	width:92px;
	top:0;
	left:105px;
}

.itemDescriptionBox > div{
	position: absolute;
}

.titleOfProduct{
	color:rgb(255,255,255);
	top:10px;
	left:0px;
	font-size:1.2em;
}

.titleOfProduct > a{
	color:rgb(255,255,255);
}


.url{
	font-family:Tahoma, Geneva, sans-serif;
	top:35px;
	left:0px;
	font-size:0.8em;
}

.url > a{
	color:rgb(191,255,255);
}

.price{
	top:70px;
	left:0px;
	font-size:1.2em;
	color:rgb(235,235,235);
}

.itemDescriptionBox > .itemHeart> .heart_empty,
.itemDescriptionBox > .itemHeart> .heart_filled{
	width:35px;
	height:35px;
	top:58px;
	left:32px;
	cursor: pointer;
}


/*--Effect--*/

.tryonContent-header_left > ul > li:hover,
.tryonContent-header_right > ul > li:hover,
.button_category > .hiddenBox > ul > li:hover,
.hiddenBox-submenu > ul > li:hover,
.titleOfProduct > a:hover,
.url > a:hover{
	color:rgb(50,180,240);
}


.userPreference > div:hover,
.userPreference > div:active{
	background-color:rgb(34,34,34);
}

.button_category .hiddenBox ul li:hover .hiddenBox-submenu ul li{
	display:block;
}


.layers:hover{
	opacity:1;
}


/*------------------CONTENT (Right)------------------*/
#tryonContent-right{
	position: relative;
	float:left;
	height:100%;
	width:49%;
	min-height: 400px;
	background-color:rgb(255,255,255);
	border:1px solid rgb(150,150,150);
	margin-left:0.6em;
	overflow:hidden;

}
/*------------------item list header------------------*/
/*--Structure--*/

#itembox_header{
	width:100%;
	height:25px;
	border-bottom:1px solid rgb(186,186,186);
	background-color:rgb(240,240,240);
}

#itembox_header ul li{
	float:left;
	color:rgb(135,135,135);
	border-right:1px solid rgb(186,186,186);
	text-align: center;
	cursor: pointer;
	height: 100%;
	padding-top:5px;
	padding-bottom:7px;
}

#itembox_header ul li:hover{
	color:rgb(80,80,80);
}

#itembox_header ul .currently_focus{
	background-color:rgb(255,255,255);
	color:rgb(80,80,80);
	padding-bottom:8px;
	margin-left:-1px;
	border-left:1px solid rgb(156,156,156);
}


.itemList_myItems,.itemList_model{
	width:15%;
}

.itemList_clothing{
	width:31%;
}

.itemList_background{
	width:18%;
}


#itembox_header .itemList_Embelishment{
	width:21%;
	height:14px;
	border-right:none;
	position: absolute;
	right:0;
	top:0;

}

.tryon-collage > #tryonContent-right > #itembox_header > ul > li{
	width:25%;
}


/*------------------item box inside - upper------------------*/
/*--Structure--*/
.itembox_subHeader{
	background-color:rgb(255,255,255);
	width:100%;
	height:10%;
	border-bottom:1px solid rgb(187,187,187);
	position: absolute;
	left:0;
	z-index:102;

}

.subHeader-list{
	width:11em;
	height:1.49em;
	border:1px solid rgb(200,200,200);
	background-color: rgb(255,255,255);
	padding:4px 0px 0px 4px;
	font-family:"Calisto MT";
	font-size:13px;
	text-align:left;

}

#modelList .pose .subHeader-list,
#modelList .shape .subHeader-list{
	width:8em;
}


.subHeader-list.filterOrder{
	width:5em;
}

.subHeader-list.model{
	width:11em;
}


.subHeader-left{
	position: absolute;
	bottom:20%;
	width:100%;
}


/*------------------item upper category boxes------------------*/
/*--Structure--*/
#clothingItemList,
#modelList,
#backgroundList,
#embelishmentList,
#beautyList,
#peopleList,
#embelishmentList{
	display:none;
}


.subHeader-left > li{
	float:left;
	margin:0 0.5%;
	color:rgb(140,140,140);
	position: relative;
	cursor: pointer;

}


.itembox_subHeader > div > ul > .firstChild{
	margin-left:2.5%;
}

.itembox_subHeader > div > ul > li> form > input{
	color:rgb(140,140,140);
	width:11.4em;
	padding-left:5px;
	height:23px;
	border:1px solid rgb(200,200,200);
	font-family:"Calisto MT";
	font-size:13px;
}

.iconWrapper{
	background-color:rgb(250,250,250);
	width:24px;
	height:23px;
	position: absolute;
	top:1px;
	bottom:1px;
	right:1px;
	border-left:1px solid rgb(200,200,200);
}

.firstChild .iconWrapper {
	background-color:rgb(150,150,150);
}
.subHeader-right li .iconWrapper{
	width:15px;
	right:5px;
}





.subHeader-right{
	position: absolute;
	right:2%;
	bottom:20%;
	
}
.subHeader-right > li{
	float:right;
	margin-right:0.3em;
	cursor: pointer;

}



/*--Element--*/
/*subheader*/
.changeView{
	width:2.3em;
	height:24px;
	border:1px solid rgb(200,200,200);
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.uploadPic{
	width:5em;
	height:1.53em;
	color:rgb(140,140,140);
	border:1px solid rgb(200,200,200);
	background-color: rgb(255,254,255);
	padding:4px 0px 0px 4px;
	font-family:"Calisto MT";
	font-size:13px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;	
}


.subHeader-submenu{
	width:147px;
	background-color: rgb(255,255,255);
	border:1px solid rgb(200,200,200);
	position: absolute;
	top:25px;
	left:0;
	z-index: 501;
	display:none;

}
.subHeader-submenu ul li{
	color:rgb(140,140,140);
	padding:8px 5px;
}


.filterOrder > .subHeader-submenu{
	left:0;
	top:30px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	width:180px;
}

.order .subHeader-submenu{
	height:138px;	
	left:-20px;


}

.filter > .subHeader-submenu{
	height:160px;
	width:230px;

}



#modelList .subHeader-submenu{
	top:30px;
	width:250px;
	height:180px;
}

.submenu-second{
	width:80px;
	height:125px;
	background-color:rgb(140,140,140);
	position: absolute;
	top:5px;
	right:5px;
	border:1px solid rgb(200,200,200);
	overflow-y:auto;
	font-size:12px;
	display:none;
}

.firstChild.submenu-second{
	display:block;
}

.filter .submenu-second{
	height:148px;
	width:150px;

}

#modelList .submenu-second{
	height:165px;
	width:150px;
	left:90px;
}




.submenu-second ul li{
	font-size:12px;
	color:rgb(255,255,255);
}





/*Effect*/

.subHeader-submenu ul li:hover{
		color:rgb(50,180,240);

}
.subHeader-left > li:hover > div,
.subHeader-left > li:hover > form > input{
	border-color:rgb(120,120,120);
}

.subHeader-submenu > ul > li:hover > .submenu-second{
	display: block;
}

.subHeader-right > li:hover div{
	border-color:rgb(120,120,120);
}




/*--------------------Itembox inside-----------------------*/

.itemBox > ul{
	top:17%;
	bottom:0;
	right:1%;
	left:2.5%;
	margin:auto;
	position: absolute;
	overflow-y:auto;
	overflow-x:hidden;


}
#myItemImages .itemIconsWrapper,
#itemImages .itemIconsWrapper{
	display:block;
}

.itemBox-images,.itemIconsWrapper{
	display:none;
}

.itemBox > .itemBox-images > li{
	float:left;
	margin:0px 0px 3px 3px;
	border-radius:1px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	width:18.4%;
	height:18.4%;
	background-color:rgb(255,255,255);
	border:1px solid rgb(230,230,230);
}

.itemBox > .itemBox-images > li > img{
	margin:0 auto;
	height:100%;
}




#myItemImages .itemIconsWrapper,
#embelishmentImages .itemIconsWrapper{
	width:500px;
	position: absolute;
	left:29%;
	top:150px;	
}

#embelishmentImages .itemIconsWrapper{
	left:21%;
}



.tryon-collage #embelishmentImages .itemIconsWrapper{
	margin-top:0;
	width:100%;	
	left:10px;
	top:100px;	
}



#backgroundImages .itemIconsWrapper{
	width:500px;
	margin-top:4em;
}


.itemIconsWrapper > li{
	width:22%;
	height:130px;
	position: relative;
	float:left;
	text-align: center;
	font-size:15px;
	color:rgb(140,140,140);
	margin:10px 0px 30px 9px;
	cursor: pointer;
}

#myItemImages .itemIconsWrapper  li{
	margin-right:40px;
}
#clothingImages .itemIconsWrapper  li{
	margin:10px 0px 20px 9px;
}


.itemIcon{
	width:100%;
	height: 100px;
	position: absolute;
}

.itemIconsWrapper > li > .heart_filled{
	display:block;
}

.itemDescription{
	position:absolute;
	width:100%;
	height:30px;
	bottom:0;
	left:0;
}


.itemIconsWrapper li:hover span{
	color: rgb(50,180,240);
}

/*--Effect--*/

.itemBox > .itemBox-images > li:hover{
	border-color:	rgb(50,180,240);
}

/*--------------------------Popup content--------------------------*/
#popupOverlay{
	display: none;
}

.popup_confirmation{
	height:430px;
	width:500px;
	margin:120px auto;
	cursor: default;
	background-color: rgb(255,255,255);
	position: relative;
}

.popup_confirmation .close{
	left:440px;
	top:10px;
	width:50px;
	height:50px;
	background-size: 40px;
	cursor: pointer;
}


#createCollage{
	height:280px;
	display:none;
}

#publish_collage{
	height:170px;
}

#publish{
	display:block;
}

.popup_confirmation-header{
	width:100%;
	height:70px;
	background-color:rgb(250,250,255);
}
.popup_confirmation-header > span{
	color:rgb(100,110,120);
	font-size:2em;
	font-style:italic;
	text-align:left;
	position: absolute;
	top:20px;
	left:30px;
}

.button_large{
	width:100px;
	height:30px;
	position: absolute;
	top:120px;
}

.button_large.background-strong{
	left:90px;
}

.button_large.background-weak{
	right:90px;
}



.button_large > a{
	font-size:5.5em;
	color:rgb(200,200,200);
	cursor:pointer;
}
.button_large > a:hover{
	color:rgb(50,180,240);
}


#publish .button_category{
	background-color:rgb(200,200,200);
	margin:0 auto;

	width:200px;
	height:30px;
}

.popup_confirmation > .title_box,
.popup_confirmation > .category_box,
.popup_confirmation > .description_box{
	width:70%;
	height:40px;
	margin:20px auto;
	font-size:1.3em;
	position: relative;
	color:rgb(120,120,120);
}

.popup_confirmation .required{
	color:rgb(255,100,100);
}

.popup_confirmation > .description_box{
	margin-top:40px;
}


.popup_confirmation > .title_box input,
.popup_confirmation > .category_box select{
	width:100%;
	height:20px;
} 

.popup_confirmation > .description_box span{
	position: absolute;
	top:2px;
	left:2px;
}
.popup_confirmation > .description_box textarea{
	position: absolute;
	top:30px;
	left:2px;
	width:100%;
	height:80px;
}

.category_box > .lastChild{
	display:none;
}

.button_medium{
	position:absolute;
	bottom:30px;
	padding:10px 20px;
	cursor: pointer;
}

.button_medium.publish{
	left:75px;	
	color:rgb(255,255,255);
	background-color:rgb(50,180,240);
}



.button_medium.cancel{
	left:180px;
	color:rgb(170,170,170);
}

#publish_collage .button_medium.publish{
	left:30px;
}
#publish_collage .button_medium.cancel{
	left:120px;	
}

.sns{
	color:rgb(255,255,255);
	padding:5px 10px;
	background-color:rgb(210,210,210);

}
.sns:hover{
	background-color:rgb(60,190,250);
}

.button_medium.sns_facebook{
	right:155px;
}
.button_medium.sns_twitter{
	right:90px;
}
.button_medium.sns_pinterest{
	right:15px;
}

.button_medium.cancel:hover{
	color:rgb(0,0,0);
}

.button_medium.publish:hover{
	background-color:rgb(80,110,150);
}

.popup_confirmation > .label{
	position: absolute;
	right:125px;
	bottom:60px;
	color:rgb(210,210,210);
}







